@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --font-family: 'Lexend Deca', sans-serif;
  --font-family-bold: 'Big Shoulders Display', cursive;
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --bg: hsl(0, 0%, 95%);
}

body {
  font-family: var(--font-family);
  font-size: 15px;
  padding: 5rem 1.5rem;
  display: grid;
  min-height: 100vh;
  place-content: center;
  background-color: var(--bg);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}

.grid-items {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: space-around;
}

.grid-1 {
  background-color: var(--bright-orange);
}

.grid-2 {
  background-color: var(--dark-cyan);
}

.grid-3 {
  background-color: var(--Very-dark-cyan);
}

.grid-items img {
  width: 5em;
  margin: 3em 2em 2em 2em;
  padding-left: 6%;
}

h2 {
  font-family: var(--font-family-bold);
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0% 10% 0% 10%;
  padding: 0% 6% 0% 6%;
  font-weight: 700;
}

p {
  margin: 5% 10% 5% 10%;
  padding: 0% 6% 0% 6%;
  opacity: 0.7;
  line-height: 1.5rem;
}

.grid-items button {
  background-color: #ffffff;
  margin: 5% 10% 15% 15%;
  width: 50%;
  font-family: var(--font-family);
  font-size: 1rem;
  border-radius: 2em;
  padding: 5%;
  border: none;
}

.grid-1 button {
  color: var(--bright-orange);
}

.grid-1 button:hover {
  background-color: var(--bright-orange);
}

.grid-2 button {
  color: var(--dark-cyan);
}

.grid-2 button:hover {
  background-color: var(--dark-cyan);
}

.grid-3 button {
  color: var(--Very-dark-cyan);
}

.grid-3 button:hover {
  background-color: var(--Very-dark-cyan);
}

.grid-items button:hover {
  cursor: pointer;
  color: #ffffff;
  outline: solid 2px #ffffff;
}

@media (min-width: 576px) {
  .main-container {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 920px;
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    width: 920px;
    height: 500px;
  }
}